################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReikaP/FileContentIndex/66aace84-4efd-41a1-80d5-0c26b4676d8f.vsidx
