################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ReikaP/FileContentIndex/66aace84-4efd-41a1-80d5-0c26b4676d8f.vsidx
/.vs/ReikaP/FileContentIndex/e0fea0f3-1887-4b44-a7a2-9f8b906fcac2.vsidx
*.vsidx
/.vs/slnx.sqlite
